body {
	margin: 0;
}
span {
	position: relative;
}

h1, h2, h3 {
	font-family: helvetica, arial;
	position: relative;
	font-size: 10em;
	line-height: .2em;
}

#container {
	margin: 0 auto;
	text-align: center;
}

#content {
	margin: 0 auto;
	text-align: center;
}

H1 span  {
  vertical-align: top;
}
H1 .char2 {
display: inline-block;
position: relative;
-webkit-transform: rotate(-159deg);
-moz-transform: rotate(-159deg);
-o-transform: rotate(-159deg);
}
H1 .char4 {
font-size: 177%;
}